<%# Replace this blurb with style sheet %>
<style>
    .tab {
      display: inline-block;
      margin-left: 40px;
    }
    .div{
      margin-bottom: 0px;
    }
</style>

<h3 class="indigo-text text-darken-3">Vaccine List</h3>

<%# WIP Search Function %>
<form action="/vaccines" method="get">
  <div class="row" style="margin-bottom: 0;">
    <div class="col s5 input-field" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">
      <input type="text" name="query" id="query" placeholder="Enter Query">
    </div>
  </div>
  <input type="submit" value="Search" class="btn indigo darken-3">
</form>


<%# Filter %>
<form action="/vaccines" method="get">
  <div class="input-field">
    <select name="filter">
      <option value="" disabled selected>Filter By Manufacturer</option>
      <% Vaccine.all_mfr.each do |mfr| %>
       <option value="<%= mfr %>"><%= mfr %></option>
      <% end %>
    </select>
  </div>
  <input type="submit" value="Filter" class="btn indigo darken-3">
</form>



<p>Recently Viewed: <%= @vaccine?@vaccine.lot_no : "Haven't viewed any vaccines." %></p>

<h4> Vaccines Sorted by Lot Number</h4>

<table>
  <th>Lot#</th>
  <th>Type</th>
  <th>Manufacturer</th>
  <th>Expiration</th>
  <th>Quantity</th>
  <% @vaccines.sort.each do |vaccine| %>
  <%# ID \t Type \t Manufacturer \t Expiration Date %>
    <tr> 
     <td><a href="/vaccines/<%= vaccine.id %>"><%= vaccine.lot_no %></a></td>
     <td><%=vaccine.vac_type%></td>
     <td><%=vaccine.mfr%></td>
     <td><%=vaccine.expir%></td>
     <td><%=vaccine.quantity%></td>
    </tr>
  <% end %>
</table>

<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>